HELP.md
# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
content-service/src/main/resources/.env
apigateway-service/.gradle/8.13/fileHashes/fileHashes.lock
.DS_Store
.idea/modules.xml
infra-test/kafka-docker-test/
UI-service/src/main/resources/.env

# 컴파일 아웃풋
out/
target/
logs/video-events/video-events.log
apigateway-service/src/main/resources/static/static/js/main.e39e9877.js.LICENSE.txt
/.idea
apigateway-service/src/main/resources/static/asset-manifest.json
apigateway-service/src/main/resources/static/index.html
gradle.properties
apigateway-service/src/main/resources/static/static/js/main.52b9f36f.js.LICENSE.txt
/apigateway-service/src/main/resources/static/static/js
/apigateway-service/src/main/resources/static/static/css
ad-admin-service/logs/ad_admin.log
/apigateway-service/src/main/resources/static
docker-compose.yml